@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div asp-validation-summary="All">
        
    </div>
    <form method="POST">
        <div>Name: <input asp-for="Name"/></div>
        <input type="submit"/>
    </form>
    
    <div id="result">@Model.Name</div>
</div>
